<header>
    <mat-toolbar color="primary" >
     <img src="/./assets/logo.png" alt="logo" style="margin-right: 20px;">
      <span ><h1 style="font-size: 50px; font-family: Georgia, 'Times New Roman', Times, serif;">Humi Hotel</h1></span>
      <span class="example-spacer"></span>
      <p class="mt-2">Új foglalás felvétele:</p>
      <button mat-icon-button routerLink="/foglalas" class="example-icon add-icon" aria-label="Example icon-button with add icon">
        <mat-icon>add</mat-icon>
      </button>
      

    </mat-toolbar>
</header>